<!DOCTYPE html>

<html>

<head>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Free Libresoft Educational Quizbowl</title>
	<link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css" />
	<link href="/css/custom-style4.css" rel="stylesheet" type="text/css" media="screen" />
	<!--<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="/js/jquery.dropotron-1.0.js"></script>-->

	<link rel="stylesheet" href="/css/my-jquery-mobile6.css" />
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>

	<link href="/css/jquery-tablesorter.css" rel="stylesheet" type="text/css" media="screen" />

	<link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
	<link href="/css/google-buttons.css" rel="stylesheet" type="text/css" media="screen">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script src="/js/socket.io.js"></script>

</head>


<body>

<div id="wrapper">

	{% block header %}


	{% endblock %}



	<div id="page">
		<div id="content">

			{% block content %}

			{% endblock %}

		</div>
		<!-- end #content -->


		<div id="sidebar-bg">

			<div id="sidebar">

				{% if user_me.is_authenticated %}

					<ul>

						{% if user_me.is_superuser %}
							<li>
								<h2>admin</h2>
								<ul>
									<li><a href="/new-tournament">New tournament</a></li>
									<li><a href="/load-questions">Load questions</a></li>
								</ul>
							</li>
						{% endif %}

						<li>
							<h2>Games</h2>
							<ul>
								<li><a href="/next-games">My next games</a></li>
								<li><a href="/won-games">Won games</a></li>
								<li><a href="/lost-games">Lost games</a></li>
							</ul>
						</li>

						<li>
							<h2>Tournaments</h2>
							<ul>
								<li><a href="/my-tournaments">My tournaments</a></li>
								<li><a href="/active-tournaments">Active tournaments</a></li>
								<li><a href="/next-tournaments">Next tournaments</a></li>
								<li><a href="/finished-tournaments">Finished tournaments</a></li>
							</ul>
						</li>

					</ul>
		
				{% else %}
					<ul>
						<li>
							<h2>What is fleq?</h2>
							<p>FLEQ is a synchronous online competition to motivate and improve learning. Its name is an acronym of Free LibreSoft Educational Quizbowl</p>
						</li>
						<li>
							<!--
							<h2>Analytics </h2>
							<p> Results of previous tournaments, that category is the most successful and imagine your next tournament!</p>
							<a href="http://trivial.libresoft.es/analytics/questions" rel="external"  >Go to analytics</a>
						</li>
						-->
						<li>
							<h2>Learn to use it!</h2>
								<a href="http://trivial.libresoft.es/stepbystep" rel="external" >Videos: Step by step</a>
								<br>
								<a href="http://trivial.libresoft.es/FAQ"  rel="external" > Frecuently Asked Questions</a> 
								<br>
								<!--<a href=" http://es.scribd.com/doc/176819823/FAQ" > Download FAQ pdf</a> -->
								<a href="http://pfc-clavado.libresoft.es/images/FAQ.pdf"  rel="external"> Download FAQ pdf</a>
								
								<br>
								<br>
							<!--<div data-configid="9603396/5263310" style="width: 260px; height: 183px;" class="issuuembed"></div>
							<script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>-->
								
						</li>
				
						<li>
							<!--<h2>Tournaments</h2>
							<ul>
								<li><a href="/">Active tournaments</a></li>
								<li><a href="/">Next tournaments</a></li>
								<li><a href="/">Finished tournaments</a></li>
							</ul>-->
		
							<h2>Contact us</h2>
							<table><tr><td>
									<a href="http://twitter.com/FLEQlibresoft"><img src="/images/twitter-icon.png" width="48" height="48"/></a>
								</td>
								<td width="20%"></td>
								<td>
									<a href="mailto:fleq.libresoft@gmail.com"><img src="/images/email-black.png" width="64" height="48"/></a>
								</td></tr>
							</table>
							</ul>
						</li>
					</ul>


				{% endif %}

			</div>
		</div>
		<!-- end #sidebar -->


		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->

</div>


<!--<div id="footer">
	<p>2012. FLEQ</p>
</div>
end #footer -->


</body>
</html>
