{% extends "custom/base-mini.html" %}
{% load timetags %}

{% block content %}

	<div class="contentbg">
		<div class="post">
			<h2 class="title">lost games</h2>

			{% if lostGames %}
					<ul data-role="listview" data-inset="true" data-split-theme="d" data-theme="c">
						{% for game in lostGames %}
							<li><a href="/game-room/{{ game.pk }}">
								<h3 style="font-family: 'Lobster';">{{ game.round }}</h3>
								<p><h4>{{ game.start_time|add_hours:timezone }}</h4></p>
								<p>Oponent: <b>
								{% if game.player1 == user_me %}				
									{{ game.player2 }}
								{% else %}
									{{ game.player1 }}
								{% endif %}
								</b></p>

								<p>Result: <b>{{ game.score_player1 }} - {{ game.score_player2 }}</b></p>
								<br>
							</a></li>
						{% endfor %}
					</ul>
			{% else %}
				<div class="ui-body ui-body-e">{{ lang.error_no_lost_games }}</div>
			{% endif %}


		</div>
		<div style="clear: both;">&nbsp;</div>
	</div>

{% endblock %}

