{% extends "custom/base-mini.html" %}


{% block content %}

	<div class="contentbg">
		<div class="post">
			<h2 class="title">next tournaments</h2>

			{% if nextTournaments %}
				<ul data-role="listview" data-inset="true" data-split-theme="e" data-theme="d">	
				{% for t in nextTournaments %}
					<li><a href="/tournament/{{ t.pk }}">
						<h3 style="font-family: 'Lobster';">{{ t.name }}</h3>				
						<p><b>Categories: </b>{{ t.categories}}</p>					
						<p><b>Numbers of rounds: </b> {{ t.rounds }}</p>
						<p><b>Days per round: </b> {{ t.days_per_round }}</p>
						<p><b>Start date: </b> {{ t.start_date }}</p>
						<p><b>Finish date: </b> {{ t.finish_date }}</p>
						<br>
						</a>
					</li>
				{% endfor %}

				</ul>

			{% else %}
				<div class="ui-body ui-body-e">{{ lang.error_no_next_tournaments }}</div>
			{% endif %}

		</div>
		<div style="clear: both;">&nbsp;</div>
	</div>

{% endblock %}

