{% extends "custom/base-mini.html" %}


{% block content %}

	<div class="contentbg">
		<div class="post">
		<h2 class="title"> Videos step by step {{ user.username }}</h2>
		</pre>
		<i>
Press the play button and then in the video settings button select 720p HD quality. Wait until you have something similar to the image and select full screen.</i>
		<br>
		<img src="/images/HD.png" width="200" height="94"/>
		<br>
		<br>
		<u><h3 class="text"> First step: register {{ user.username }}</h3></u>
		<br>
  		<!--<iframe width="490" height="385" src="//www.youtube.com/embed/RDwrqxYls_s" frameborder="0" allowfullscreen></iframe>-->
		<!--<iframe width="480" height="360" src="//www.youtube.com/embed/B_Cbt3scQ4w" frameborder="0" allowfullscreen></iframe>-->
		<iframe width="480" height="360" src="//www.youtube.com/embed/XkbA9e86t7U" frameborder="0" allowfullscreen></iframe>		
		<br>
		<br>
		<br>
		<br>
		<br>
		<u><h3 class="text"> Second step: sign up to the tournament {{ user.username }}</h3></u>
		<br>
		<br>
		<!--<iframe width="490" height="385" src="//www.youtube.com/embed/ZmdRV6n9EEk" frameborder="0" allowfullscreen></iframe>
		<br>-->
		<iframe width="480" height="385" src="//www.youtube.com/embed/Zzbhq7GbzRA" frameborder="0" allowfullscreen></iframe>
		</br>
		<br>
		<br>
		<br>
		<u><h3 class="text"> Third step: select time {{ user.username }}</h3></u>
		<br>
		<br>
		<!--<iframe width="490" height="385" src="//www.youtube.com/embed/mrE1quIcb9M" frameborder="0" allowfullscreen></iframe>-->
		<iframe width="480" height="385" src="//www.youtube.com/embed/0TGGuL36eW0" frameborder="0" allowfullscreen></iframe>
		<br>
		<br>
		<br>
		<br>
		<u><h3 class="text"> Fourth step: playing a game {{ user.username }}</h3></u>
		<br>
		<br>
		<!--<iframe width="490" height="385" src="//www.youtube.com/embed/WNe5XmFBxrM" frameborder="0" allowfullscreen></iframe>-->
		<iframe width="480" height="385" src="//www.youtube.com/embed/gcFfLXfUEuU" frameborder="0" allowfullscreen></iframe>
		</pre>
	<center><div style="clear: both;">&nbsp;</div>
			<fieldset class="ui-grid-b" data-theme="b">
					<div class="ui-block-a"></div>
					<div class="ui-block-b"><a href="/next-games"><button data-theme="b">Go to fleq!</button></a></div>
					<div class="ui-block-c"></div>
			   </fieldset>
		</center>

		</div>
		<div style="clear: both;">&nbsp;</div>
	</div>

{% endblock %}
