{% extends "custom/base-mini.html" %}


{% block content %}

	<div class="contentbg">
		<div class="post">
			<h2 class="title">welcome to fleq {{ user.username }}!</h2>

			<center>
				<div style="clear: both;">&nbsp;</div>
				<fieldset class="ui-grid-b" data-theme="b">
						<div class="ui-block-a"></div>
						<div class="ui-block-b"><a href="/next-games"><button data-theme="b">Go to fleq!</button></a></div>
						<div class="ui-block-c"></div>
			    </fieldset>
			</center>

		</div>
		<div style="clear: both;">&nbsp;</div>
	</div>

{% endblock %}

