
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/


body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: verdana, Helvetica, sans-serif;
	font-size: 14px;
	color: #181B20;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	text-transform: lowercase;
	font-family: 'Lobster', sans-serif;
	font-weight: 400;
	color: #639BF0;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

label {
	font-family: arial;
	color: #eeeeee;
	margin: 5px;
}

input {
    border: 2px solid #528FEB;
    background: #eeeeee;
	height: 25px;
}


a {
	text-decoration: none;
	color: #9C9A9A;
}

a:hover {
	text-decoration: underline;
}

img.border {
	border: 6px solid #EEE7DF;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header-wrapper {
	height: 120px;
	background: #3A3A3A;
	margin-bottom: 30px;
}

#header {
	width: 960px;
	height: 120px;
	margin: 0 auto;

}


/* Logo */

#logo {
	letter-spacing: 4px;
	text-decoration: none;
	height: 100px;
	margin: 0px auto;
	font-size: 80px;
	padding: 0px 0px 0px 20px;
	color: #528FEB;
}

#logo h1, #logo p {
	display: block;
	margin: 0px;
	padding: 0px;
	text-transform: lowercase;
	position: absolute;
}

#logo h1 {
	letter-spacing: 4px;
	text-align: center;
	text-transform: lowercase;
	font-size: 80px;
	color: #3FA43A;
}

#logo h1 a {
	color: #528FEB;
}

#logo p {
	margin-top: -25px;
	text-align: center;
	font-family: 'Abel', sans-serif;
	font-size: 25px;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #3FA43A;
}



/* Search */

#search {
	float: right;
	width: 280px;
	height: 100px;
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 60px 0 0 30px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 195px;
	padding: 6px 10px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #7F7F81;
}

#search-submit {
	display: none;
}

/* Menu */

#menu-wrapper {
	width: 980px;
	height: 60px;
	margin: 0px auto;
	padding: 0px;
	background: #1968CE;
	border-radius: 10px;
}

#menu {
	margin: 0;
	padding: 0px 20px;
	list-style: none;
	line-height: 60px;
	letter-spacing: -1px;
	text-decoration: none;
	text-transform: lowercase;
	text-shadow: 2px 2px 2px rgba(0,0,0,.3);
	font-family: 'Abel', sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #FFFFFF;
}

#menu li {
	float: left;
	margin-right: 1px;
}

#menu a {
	display: block;
	float: left;
	height: 60px;
	margin: 0px;
	color: #FFFFFF;
}

#menu .current_page_item a {
	text-shadow: 2px 2px 2px rgba(0,0,0,.3);
	background: #378C32;
}

#menu a:hover {
	background: #378C32;
	text-decoration: none;
	text-shadow: 2px 2px 2px rgba(0,0,0,.3);
	color: #FFFFFF;
}

#menu span {
	padding: 0px 20px;
}

#menu > li {
}

#menu > li.active {
	background: #378C32;
	color: #FFFFFF;
}

.dropotron li.opener {
	border-right: solid 2px #FFFFFF;
}

.dropotron {
	margin: 0px;
	padding: 10px 0px;
	background: #378C32;
	list-style: none;
	text-transform: lowercase;
	font-family: 'Abel', sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
}

.dropotron a {
	color: #fff;
	text-decoration: none;
}

.dropotron li {
	margin: 0px;
	padding: 5px 20px;
}

.dropotron li:hover, .dropotron li.active {
	background: #4DA43A;
}

/* Page */

#page {
	width: 980px;
	margin: 0px auto;
	padding: 0px;
}

/* Content */

#content {
	float: right;
	width: 650px;
}

#content .contentbg {
	width: 590px;
	padding: 0px 30px 0px 30px;
}

.post {
	clear: both;
	padding-bottom: 10px;
	border-bottom: 1px solid #DEDEDE;
}

.post .title {
	letter-spacing: 0px;
	text-transform: lowercase;
	font-size: 50px;
	color: #639BF0;
}

.post .title a {
	border: none;
	color: #639BF0;
}

.post .meta {
	padding-bottom: 10px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .meta a {
}

.post .entry {
	/*text-align: justify;*/
	margin-bottom: 25px;
	padding: 10px 0px 0px 0px;
}

.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar-bg {
	float: left;
	width: 330px;

}

#sidebar {
	overflow: hidden;
	width: 250px;
	padding: 15px 30px 20px 30px;
	background: #eeeeee;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	margin-bottom: 20px;
	padding: 12px 0 0 0px;
	border-bottom: 1px solid #F1DAF7;
	letter-spacing: -2px;
	font-size: 30px;
	color: #639BF0;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 0px 20px 0px;
	/*text-align: justify;*/
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	height: 60px;
	background: #3A3A3A;
}

#footer p {
	margin: 0;
	padding-top: 18px;
	line-height: normal;
	text-align: center;
	text-transform: lowercase;
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	color: #A4B890;
}

#footer a {
	text-decoration: underline;
	color: #70C964;
}

#slider {
	position: relative;
	width: 590px;
	margin: 0px auto 20px auto;
}

#slider .viewer {
	width: 590px;
	height: 300px;
	overflow: hidden;
	margin: 0 auto;
}

#slider .viewer .reel {
	display: none;
	height: 300px;
}

#slider .viewer .reel .slide {
	position: relative;
	width: 590px;
	height: 300px;
}

#splash {
	width: 980px;
	margin: 30px auto 0px auto;
}
