<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
        </title>
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
        <link rel="stylesheet" href="my.css" />
        <style>
            /* App custom styles */
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.1/jquery.mobile-1.1.1.min.js">
        </script>
        <script src="my.js">
        </script>
    </head>
    <body>
        <!-- Home -->
        <div data-role="page" id="page1">
            <div data-theme="b" data-role="header">
                <h1>
                    FLEQ
                </h1>
            </div>
            <div data-role="content">
                <h2>
                    Welcome to FLEQ
                </h2>
                <h4>
                    Free Libresoft Educational Quizbowl is a synchronous on-line competition software to improve and motivate learning
                </h4>
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup">
                        <label for="textinput1">
                        </label>
                        <input name="" id="textinput1" placeholder="username" value="" type="text" />
                    </fieldset>
                </div>
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup">
                        <label for="textinput2">
                        </label>
                        <input name="" id="textinput2" placeholder="password" value="" type="text" />
                    </fieldset>
                </div>
                <a data-role="button" data-theme="b" href="#page1" data-icon="star" data-iconpos="left">
                    Log In
                </a>
                <h4>
                    Create a new account?
                </h4>
                <a data-role="button" data-theme="b" href="#page1" data-icon="star" data-iconpos="left">
                    Sign Up
                </a>
            </div>
            <div data-theme="a" data-role="footer">
                <h3>
                    JGN, 2012
                </h3>
            </div>
        </div>
        <script>
            //App custom javascript
        </script>
    </body>
</html>