{% extends "template.html" %}

{% block main %}
<div class="post">
	<!-- Check status message -->
	{% if box %}<div class="{{ box.status }}">{{ box.message|safe|linebreaksbr }}</div>{% endif %}
	
	<h2 class="title">{{ lang.title_contact_with_us }}</h2>

	<!-- Show errors from form -->
	{% if contactForm.errors %}<div class="error">{% endif %}
	{% if contactForm.non_field_errors %}{% for error in contactForm.non_field_errors %}{{ error }}{% endfor %}<br />{% endif %}
	{% for field in contactForm %}
		{% if field.errors %}<u>{{ field.label_tag }}</u>: {% for error in field.errors %}{{ error }}{% endfor %}<br />{% endif %}
	{% endfor %}
	{% if contactForm.errors %}</div>{% endif %}

	<div class="entry">
		<form id="contactForm" action="." method="POST" enctype="multipart/form-data" >
			{% for field in contactForm %}
				{% if field.errors %}<div class="error">{% endif %}
					<p>{{ field.label_tag }}:<br />{{ field }}</p>
					<p class="help_text">{{ field.help_text }}</p>
				{% if field.errors %}</div>{% endif %}
			{% endfor %}
			<center>
				<a href="#" onclick="document.getElementById('contactForm').submit();" class="button save-big">{{ lang.button_contact }}Send request</a>
			</center>
		</form>
	</div>
</div>
{% endblock %}
