<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Free Libresoft Educational Quizbowl</title>

	<!--<link rel="stylesheet"  href="http://jquerymobile.com/demos/1.2.0/css/themes/default/jquery.mobile-1.2.0.css" />
	<link rel="stylesheet" href="http://jquerymobile.com/demos/1.2.0/docs/_assets/css/jqm-docs.css"/>

	<!--<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://jquerymobile.com/demos/1.2.0/docs/_assets/js/jqm-docs.js"></script>
	<script src="http://jquerymobile.com/demos/1.2.0/js/jquery.mobile-1.2.0.js"></script>

	<link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
    <link rel="stylesheet" href="/css/my.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
    <script src="/js/my.js"></script>-->

	<!--<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>-->

	<link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>




	<link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">


</head>


<body>

<div data-role="page" class="type-index" style="height: 100%;">

	<div data-role="header" data-theme="b">
		{% block header %}

		{% endblock %}
	</div>


	<div data-role="content" data-theme="b">

		{% block main %}


		{% endblock %}

	</div>

	{% block footer %}

	{% endblock %}

	<!--<div data-theme="b" data-role="footer" data-position="fixed">
		<p align="center">© 2012 - FLEQ</p>
	</div>-->

</div>

	{% block extrajs %}

	{% endblock %}
</body>
</html>
