{% extends "mobile/base-mobile.html" %}

{% block main %}

	    <div data-role="fieldcontain">
	        <fieldset data-role="controlgroup">
	            <label for="textinput1">
	            </label>
	            <input name="" id="textinput1" placeholder="username" value="" type="text" />
	        </fieldset>
	    </div>

	    <div data-role="fieldcontain">
	        <fieldset data-role="controlgroup">
	            <label for="textinput2">
	            </label>
	            <input name="" id="textinput2" placeholder="password" value="" type="text" />
	        </fieldset>
	    </div>

	    <a data-role="button" data-theme="f" href="#page1" data-icon="star" data-iconpos="left">
	        Log In
	    </a>

	    <h4>
	        Create a new account?
	    </h4>

	    <a data-role="button" data-theme="f" href="#page1" data-icon="star" data-iconpos="left">
	        Sign Up
	    </a>
	   

	</div>

{% endblock %}
