{% extends "mobile/base-mobile.html" %}


{% block header %}

{% endblock %}



{% block main %}

	<center><h1 style="font-family: 'Lobster'; color: #1B6FC4; margin-bottom: 10%;">Videos Step by Step</h1></center>


			<ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow" data-content-theme="d">
				<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-b ui-corner-top">First Step: register now!</li>

				<li data-theme="d">
					<div class="ui-body">
				<div> <iframe width="250" height="185" src="//www.youtube.com/embed/N5Bxw4cYhUY" frameborder="0" allowfullscreen></iframe>
					</div>
				</li>

			</ul>
			
			
			<ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow" data-content-theme="d">
				<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-b ui-corner-top">Second Step: sign up to the tournament !</li>

				<li data-theme="d">
					<div class="ui-body">
				<div> <iframe width="250" height="185" src="//www.youtube.com/embed/NLfFInACDLM" frameborder="0" allowfullscreen></iframe>
					</div>
				</li>

			</ul>
			
			<ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow" data-content-theme="d">
				<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-b ui-corner-top"> Third step: select time</li>

				<li data-theme="d">
					<div class="ui-body">
				<div> <iframe width="250" height="185" src="//www.youtube.com/embed/s_v0a3SiAUM" frameborder="0" allowfullscreen></iframe>
					</div>
				</li>

			</ul>
			
				
			<ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow" data-content-theme="d">
				<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-b ui-corner-top"> Fourth step: playing a game</li>

				<li data-theme="d">
					<div class="ui-body">
				<div> <iframe width="250" height="185" src="//www.youtube.com/embed/WNe5XmFBxrM" frameborder="0" allowfullscreen></iframe>
					</div>
				</li>

			</ul>
			
		
		<div>	
			<br>
	    	<a href="/" data-role="button" data-theme="b" data-icon="arrow-r" data-iconpos="right">Go to Fleq!</a>
		</div>

{% endblock %}


{% block footer %}

		<div data-theme="d" data-role="footer">
			<h3>
			    © FLEQ - 2012
			</h3>
		</div>

{% endblock %}

