{% extends "custom/analytics/base-analytics.html" %}


{% block js %}

	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>

	<script type="text/javascript">
		var chart;
		
		$(document).ready(function() {
			
	        $('#container').highcharts({
	            chart: {
	                type: 'column'
	            },
	            title: {
	                text: 'Less Successful Questions'
	            },
	            xAxis: {
	                categories: [
	                	{% for c in categories %}
			        		'{{c}}',
			        	{% endfor %}
	                ],
				    labels: {
				        rotation: -45
				    }
    	        },
	            yAxis: {
	                min: 0,
	                title: {
	                    text: 'Number of hits'
	                },
	                allowDecimals: false

	            },
	            legend: {
	            	enabled: false
	            },
	            credits: {
	            	enabled: false
	            },
	            tooltip: {
	                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
	                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
	                    '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
	                footerFormat: '</table>',
	                shared: true,
	                useHTML: true
	            },
	            plotOptions: {
	                column: {
	                    pointPadding: 0.2,
	                    borderWidth: 0
	                }
	            },
	            series: [{
	                name: 'Correct answers',
	                data: {{ data }}
	    
	            }]
	        });	
	
		});
			
	</script>

{% endblock %}



{% block content %}

<div class="contentbg" style="margin: 0; padding: 0; width: 100%">
		<div class="post">
			<!--<h2 class="title">Analytics</h2>-->


		    <div id="container" style="width: 100%; height: 500px; margin: 0 auto"></div>
		    
			<center><div style="clear: both;">&nbsp;</div>
				<fieldset class="ui-grid-b" data-theme="b">
						<div class="ui-block-a"></div>
						<div class="ui-block-b"><a href="/next-games"><button data-theme="b">Go to fleq!</button></a></div>
						<div class="ui-block-c"></div>
				</fieldset>
			</center>
 
			</div>
		<div style="clear: both;">&nbsp;</div>
	</div>
	

{% endblock %}